<h1>Your travels</h1>

<ul>
  <% @travels.each do |travel| %>
    <li><%= link_to "#{travel.departure} - #{travel.arrival} - #{travel.capacity}ppl", travel_path(travel)%></li>
  <% end %>
</ul>

<%= link_to "create travel", new_travel_path %>