/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CPoppins:700');
/* Custom designs */

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}
h2, h3, h4 {
  font-family: Poppins;
  text-align: center;
}

h2.text-center {
  margin-bottom: 40px;
  margin-top: 30px
}

h1 {
  font-family: Poppins;
  text-align: center;
  color: #455992;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.footer {
  text-align: center;
  padding: 30px;
  padding-bottom: 15px;
  background-color: #354f53;
}
.footer a {
  font-size: 30px;
  color:  #36c3b8;
}
.footer p {
  color: #ffffff;
}
.footer .fas {
  color: #ffffff;
}
.container {
  width: 900px;
  margin: auto;
}
.card img {
  width: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.card h4 {
  margin-top: 10px;
}

.card p {
  opacity: .5;
  margin-top: 10px;
}

.card-flight {
  width: 60%;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  align-items: center;
  display: flex;
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
}

.card {
  width: 250px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  align-items: center;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  padding: 0 20%;
}
.btn-primary {
  display: flex;
  background-color: #65adce;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
  justify-content:center;
}
.container-btn{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 0 20%;
}
.btn-secondary {
  display: flex;
  border: 1px solid #52b5d3;
  padding: 8px 16px;
  border-radius: 50px;
  color: #1EDD88;
  margin-top: 90px;
}
.banner {
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
  display: flex;
}
.banner h1 {
  color: rgb(45, 76, 112);
  font-size: 50px;
  opacity: .99;
}
.banner h3 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  opacity: .99;
}
.banner p {
  color: white;
  opacity: .7;
  font-size: 15px;
  text-align: center;
}
.home_video {
  position: absolute;
  width: 100%;
  height: inherit;
  object-fit: cover;
  top: 0;
  filter: brightness(80%);
}
.title_p {
font-size: 50px;
}
