
img {
  width: 100%;
}
h5 {
    color: white !important;
    font-weight: bold !important;
    font-family: 'Manrope', sans-serif !important;
    font-weight: 900 !important;
    font-size: 50px !important;
    text-align: center;
}

.pilot-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  h2 {
    margin-left: 20px;
    font-size: 25px;
    margin-top: 10px;
    color: rgb(34, 34, 34) !important;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
  }
}

.header-content {
    position: relative;
    margin: 0;
    background-size: cover;
    background-position: center;
    padding: 150px;
    margin-bottom: 68px;
}

.parallax-window {
    margin-bottom: -78px;
    min-height: 450px;
    background: transparent;
    h5 {
      padding-top: 168px;
    }
}


.header-content h1{
 text-align: center;
 margin: auto;
 color: white;
 font-family: 'Manrope', sans-serif;
 }

#paragraph-withmargin {
    margin-bottom: 32px;
}

.pilot-pp {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 1px 2px;
  border: white 1px solid;
  max-width: 100%;
  vertical-align: middle;
  box-sizing: border-box;
  object-fit: cover;
}

.pilot-description {
  padding: 20px;
  background-color: white;
  margin-top: 29px;
  position: relative;
  width: 60%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 0 auto;
  p {
  padding: 0 70px;
  padding-left: 90px;
  font-family: 'Manrope', sans-serif;
  font-weight: 100;
  margin-bottom: 45px;
  margin-top: 40px;
  font-size: 17px;
  }

}

.pilot-name h2{
  color: black;
}

.icons-show{
  position: relative;
  display: block;
  color: #354F53;
  float: left;
  margin: 10vh auto;
  font-size: 23px;
  flex-wrap: wrap;
  p {
    padding-bottom: 2px;
  }
}

.far {
  margin-left: 71px;
  margin-right: 59px;
  margin-top: 10px;
  font-size: 44px;
  }

.fas {
  margin-left: 60px;
  margin-right: 50px;
  margin-top: 41px;
  font-size: 44px;
}

.bouton {
  position: relative;
  display: flex;
  float: right;
  right: 130px;
}

.btn-flat {
  color: white;
  padding: 16px 31px;
  border-radius: 4px;
  background: #65adce;
  transition: background 0.3s ease;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 20px;
}

.btn-flat:hover {
  background: #354F53;
  color: white;
}

.bouton-back {
  margin-left: 200px;
}

//.calendar{
//  color: #354F53;
//  float: left;
//}

//.dep {
//  float: left;
//}

//.arrival {
//  float: left;

//}

//.price {
//  float: left;

//}

//.seats {
//}
