<h1>My Informations</h1>

<h2>My travels</h2>
<ul>
  <% @travels.each do |travel|%>
    <li><%= "#{travel.time_flight} - #{travel.departure} - #{travel.arrival} - #{travel.capacity}places - #{travel.status}" %></li>
  <% end %>
</ul>